html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0D0D0D;
  line-height: 1.6; }

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 16rem; }
  .navigation__group {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    grid-gap: 3rem; }
  .navigation__link, .navigation__link:visited {
    color: #8C8C8C; }
    .navigation__link:hover, .navigation__link:visited:hover {
      color: #0D0D0D; }
  .navigation__btn-sign, .navigation__btn-sign:visited {
    background-color: #00DB2F;
    padding: 8px 12px;
    color: #0D0D0D;
    border-radius: 4px; }
    .navigation__btn-sign:hover, .navigation__btn-sign:visited:hover {
      background-color: #08c030; }
  .navigation__link, .navigation__btn-sign {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    transition: .1s ease; }

.header {
  height: calc(100vh - 65px);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  align-content: center;
  grid-gap: 3rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("./Background.jpg");
  background-size: cover; }
  .header__title {
    width: 65%;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #fff; }
  .header__form-group {
    padding: 2rem 2.4rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  .header__form {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    align-items: center;
    grid-gap: 2.5rem; }
    .header__form .form__cabor option {
      background-color: #0D0D0D;
      margin-bottom: 1rem;
      color: #fff;
      border: none;
      outline: none; }
    .header__form .form__lokasi {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .header__form .form__lokasi img {
        width: 1.75rem; }
      .header__form .form__lokasi input {
        border: none;
        outline: none;
        font-family: inherit; }
    .header__form .form__cabor,
    .header__form .form__lokasi,
    .header__form .form__status {
      border: none;
      outline: none;
      font-family: "Montserrat", sans-serif;
      border: 0.8px solid #0D0D0D;
      border-radius: 4px;
      padding: 1.6rem 1.2rem;
      color: #8C8C8C; }
    .header__form .form__btn {
      border: none;
      outline: none;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 600;
      background-color: #00DB2F;
      border-radius: 4px;
      padding: 1.6rem 5rem;
      cursor: pointer;
      transition: .1s ease; }
      .header__form .form__btn:hover {
        background-color: #08c030; }
